{% import '@blogger/include/social-links.html.twig' as social_links %}
{% set bem_block = 'footer' %}
<footer class="{{ bem_block }}">
  <div class="{{ bem_block }}__content">
    {{ social_links.links('footer-social') }}

    {{ drupal_block('system_menu_block:footer') }}

    <div class="{{ bem_block }}__copyright">
      &copy; {{ 'now'|date('Y') }} <strong>Dlog Hero</strong> Все права защищены.
    </div>

    <div class="{{ bem_block }}__powered-by">
      Создано с <span class="{{ bem_block }}__powered-by-heart"></span> на <span class="{{ bem_block }}__powered-by-drupal">Drupal</span>.
      Исходный код доступен на <a href="https://gitlab.com/Niklan/dlog" target="_blank" rel="noopener nofollow" class="{{ bem_block }}__powered-by-gitlab">GitLab</a>.
    </div>

    <a href="#" class="{{ bem_block }}__top">Вверх</a>
  </div>
</footer>
