{{ attach_library('blogger/mobile_menu') }}
{% set bem_block = 'header-mobile' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__inner">
    {{ drupal_block('system_branding_block', branding_config) }}

    <div class="{{ bem_block }}__right">
      <div class="{{ bem_block }}__menu-button mobile-menu-toggle"></div>
    </div>
  </div>

  <div class="{{ bem_block }}__content">

    <form action="/search" method="get" class="{{ bem_block }}__search">
      <input name="text" type="text" autocomplete="off" placeholder="Поиск по материалам сайта" class="{{ bem_block }}__search-text">
      <button class="{{ bem_block }}__search-button button--action"></button>
    </form>

    {{ drupal_block('system_menu_block:mobile', { label_display: false }) }}
  </div>
</div>
